name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2

      - run: sudo rm -f package-lock.json
      - run: npm install
      - run: npm run build
