name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Remove packages
        run: |
          rm -f package-lock.json
          rm -f node_modules

      - name: Reinstall packages
        run: |
          npm install

      - name: Build application
        run: |
          npm run generate
