name: Deploy to Server

on:
  push:
    branches:
      - master

env:
  SSH_HOST: ${{ secrets.SSH_HOST }}
  SSH_USER: ${{ secrets.SSH_USERNAME }}
  SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
  SSH_MY_PASSPHRASE: ${{ secrets.SSH_MY_PASSPHRASE }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure SSH
        run: |
          echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ssh_private_key
          chmod 600 ssh_private_key
          eval $(ssh-agent -s)
          echo "$SSH_MY_PASSPHRASE" | ssh-add ssh_private_key

      - name: Deploy code
        run: |
          ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST "cd /var/www/jira/frontend && rm -rf package-lock.json && git pull && bash scripts/deploy.sh"
